---
const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/");
}

import DashboardLayout from "~/layouts/DashboardLayout.astro";
---

<DashboardLayout>
  <div></div>
</DashboardLayout>
