---
import { like } from "drizzle-orm";

import { db } from "@repo/db";
import { calenderView } from "@repo/db/schema";
// import { Calender } from "~/components/calender";
import { Calendar } from "~/components/calendar";
import ArrowBigLeft from "~/components/icons/tb/ArrowBigLeft.astro";
import ArrowBigRight from "~/components/icons/tb/ArrowBigRight.astro";
import Layout from "../layouts/Layout.astro";

const url = Astro.url;

let m = Number(url.searchParams.get("m"));

if (!m || m < 1 || m > 12) {
  m = new Date().getMonth() + 1;
}

let y = Number(url.searchParams.get("y"));

if (!y || y < 1) {
  y = new Date().getFullYear();
}
---

<Layout>
  <div class="container px-6 py-4">
    <Calendar defaultMonth={m} defaultYear={y} client:only="solid-js" />
  </div>
</Layout>
<script is:inline>
  (() => {
    let oldPushState = history.pushState;
    history.pushState = function pushState() {
      let ret = oldPushState.apply(this, arguments);
      window.dispatchEvent(new Event("pushstate"));
      window.dispatchEvent(new Event("locationchange"));
      return ret;
    };

    let oldReplaceState = history.replaceState;
    history.replaceState = function replaceState() {
      let ret = oldReplaceState.apply(this, arguments);
      window.dispatchEvent(new Event("replacestate"));
      window.dispatchEvent(new Event("locationchange"));
      return ret;
    };

    window.addEventListener("popstate", () => {
      window.dispatchEvent(new Event("locationchange"));
    });
  })();
</script>
