---
import { DashboardTabs } from "~/components/dashboard/tabs";
import Layout from "./Layout.astro";
---

<Layout>
  <main class="xl-p-8 p-4 md:p-6">
    <div class="flex flex-col gap-4 sm:justify-between sm:gap-0 md:flex-row">
      <h1 class="text-2xl font-bold">Dashboard</h1>
      <div>
        <DashboardTabs client:load />
      </div>
    </div>
    <slot />
  </main>
</Layout>
