---
const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/login");
}

if (user.role !== "admin") {
  return Astro.redirect("/dashboard");
}

import { CreateUserForm } from "~/components/auth/create-user-form";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <main class="container px-4 pt-16">
    <CreateUserForm client:only="solid-js" />
  </main>
</Layout>
