---
const user = Astro.locals.user;

if (user) {
  return Astro.redirect("/dashboard");
}

import Layout from "~/layouts/Layout.astro";
import { LoginForm } from "~/components/auth/login-form";
---

<Layout>
  <main class="container px-4 pt-16">
    <LoginForm client:only="solid-js" />
  </main>
</Layout>
